* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-page {
    font-family: "MS Sans Serif", sans-serif;
    background-color: #008080; 
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .login-container {
    background-color: #c0c0c0; 
    border: 2px solid #000080; 
    padding: 20px;
    width: 300px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0;
  }

  
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #000080;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    font-size: 16px;
    color: #000080;
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    color: #000;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000080;
    background-color: #ffffff;
    color: #000;
    font-size: 12px;
    font-family: "MS Sans Serif", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input:focus {
    outline: none;
    border: 1px solid #0000ff; 
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #000080;
    color: #ffffff;
    border: 1px solid #000080;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  }
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #000080;
    color: #ffffff;
    border: 1px solid #000080;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  }

  .login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
  }
  
  .login-link a {
    color: #000080;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  